@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

* {
	font-family: 'Playfair Display', Arial, sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

#header {
	background-color: #ffffff;
	border-bottom: 5px solid #6830c3;
}

.navbarul {
	float: right;
	width: 100%;
	text-align: right;
}

.navbarul li {
	display: inline;
	padding: 20px 15px;
}

.navbarul li a {
	text-decoration: none;
	color: #6930ce;
}

.navbarul li a:hover {
	color: #1e1b18;
}

#banner {
	height: 70vh;
	background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)),
		url(/img/business-website.jpg) left 50% top 50% / cover no-repeat;
	text-align: center;
	color: #ffffff;
}

#banner .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icons {
	font-size: 2rem;
	margin: 40px 20px;
	text-decoration: none;
	color: white;
}

.icons:hover {
	text-decoration: underline;
	color: white;
}

#services {
	background-color: #f7f7f9;
	height: auto;
	padding: 50px 0;
}

.card:hover {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.srv-text {
	text-align: center;
	padding: 10px 0 20px 0;
	color: #1f1f1f;
}

#services col-md-4 {
	max-width: 33.33333333%;
}

#history {
	height: auto;
	background-color: #f1f1f1;
	padding: 50px 0;
}

#history .img-thumbnail {
	height: 360px;
}

.imageb {
	background-color: #ffffff;
	background-image: url(/img/pexels-mark-stebnicki-2252618.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#footer {
	background-color: #1f1f1f;
	height: auto;
	color: #fff;
	padding: 40px 0;
}

.f-text {
	border-bottom: #0d6efd solid 1px;
	padding-bottom: 10px;
	width: 60%;
}

.sm-span {
	width: 10%;
	height: 2px;
	background-color: #fff;
	position: absolute;
}

.big-span {
	width: 20%;
	height: 2px;
	background-color: #f2f2f2;
	position: absolute;
}

#footer a {
	text-decoration: none;
	color: white;
	border-bottom: #474849 solid 1px;
	width: 100%;
}

.jstfy {
	text-align: justify;
}

#bannerabout {
	height: 70vh;
	background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)),
		url(/img/uzkarantin-960x720.jpg) left 50% top 50% / cover no-repeat;
	text-align: center;
	color: #ffffff;
}

.imgf {
	height: 100vh;
	position: relative;
	text-align: center;
}

.snip1401 {
	position: relative;
	overflow: hidden;
	margin: 5px;
	min-width: 230px;
	max-width: 315px;
	max-height: 220px;
	width: 100%;
	color: #000000;
	text-align: right;
	font-size: 16px;
	background: rgb(215, 66, 255);
	background: radial-gradient(circle, rgba(215, 66, 255, 1) 0%, rgba(105, 48, 206, 1) 100%);
}

.snip1401 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1401 img {
	max-width: 100%;
	backface-visibility: hidden;
}

.snip1401 figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0.7;
	padding: 30px 0 30px 0px;
	background-color: #ffffff;
	width: 40%;
	-webkit-transform: translateX(150%);
	transform: translateX(170%);
}

.snip1401 figcaption:before {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 100%;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 120px 0;
	border-color: transparent #ffffff transparent transparent;
}

.snip1401:after {
	position: absolute;
	bottom: 50%;
	right: 40%;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 120px;
	border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1401 h3,
.snip1401 p {
	line-height: 1.5em;
	-webkit-transform: translateX(-30px);
	transform: translateX(-30px);
	margin: 0;
}

.snip1401 h3 {
	margin: 0 0 5px;
	line-height: 1.1em;
	font-weight: 900;
	font-size: 1.4em;
	opacity: 0.75;
}

.snip1401 p {
	font-size: 0.7em;
}

.snip1401 a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.snip1401:hover img,
.snip1401.hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
}

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

.snip1402 {
	position: relative;
	overflow: hidden;
	margin: 5px;
	min-width: 230px;
	max-width: 315px;
	max-height: 220px;
	width: 100%;
	color: #000000;
	text-align: right;
	font-size: 16px;
	background: rgb(152, 206, 48);
	background: radial-gradient(circle, rgba(152, 206, 48, 1) 0%, rgba(38, 154, 11, 1) 100%);
}

.snip1402 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1402 img {
	max-width: 100%;
	backface-visibility: hidden;
}

.snip1402 figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0.7;
	padding: 30px 0 30px 0px;
	background-color: #ffffff;
	width: 40%;
	-webkit-transform: translateX(150%);
	transform: translateX(170%);
}

.snip1402 figcaption:before {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 100%;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 120px 0;
	border-color: transparent #ffffff transparent transparent;
}

.snip1402:after {
	position: absolute;
	bottom: 50%;
	right: 40%;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 120px;
	border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1402 h3,
.snip1402 p {
	line-height: 1.5em;
	-webkit-transform: translateX(-30px);
	transform: translateX(-30px);
	margin: 0;
}

.snip1402 h3 {
	margin: 0 0 5px;
	line-height: 1.1em;
	font-weight: 900;
	font-size: 1.4em;
	opacity: 0.75;
}

.snip1402 p {
	font-size: 0.7em;
}

.snip1402 a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.snip1402:hover img,
.snip1402.hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
}

.snip1402:hover:after,
.snip1402.hover:after,
.snip1402:hover figcaption,
.snip1402.hover figcaption,
.snip1402:hover i,
.snip1402.hover i {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
	padding: 10px 0.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	min-width: 100%;
	width: 33.3333%;
	background: #6930c3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

@media (max-width: 767px) {
	#banner h1 {
		font-size: 1.8rem;
	}
	#services {
		width: 100%;
		height: auto;
	}

	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	h5 {
		font-size: 1rem;
	}
	p {
		font-size: 0.8rem;
	}

	#footer li {
		font-size: 14px;
	}

	#logistic img {
		height: 100px;
	}

	.navbarul li {
		display: block;
		text-align: center;
	}

	.icons {
		font-size: 1.4rem;
		margin: 0;
	}

	#history h1 {
		margin-top: 0.5rem;
	}
}
